<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dotinc.attendancemanager2"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"

        android:theme="@style/AppTheme">
        <activity
            android:name=".SubjectsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WeeklySubjectsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NameAndCriteriaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChooseAvatarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DetailedAnalysisActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GoToDateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OverallAttendanceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShowNameCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ExtraClassActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FeedbackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HelpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StartScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AboutUsActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".GoToDateOldActivity" />
        <activity
            android:name=".PredictorActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>
